{
	"minify": true,
	// Optional, configure minification options

	"jsc": {
		"parser": {
			"syntax": "typescript",
			"jsx": true,
			"dynamicImport": true,
			"privateMethod": true,
			"functionBind": true,
			"exportDefaultFrom": true,
			"exportNamespaceFrom": true,
			"decorators": false,
			"decoratorsBeforeExport": false,
			"topLevelAwait": true,
			"importMeta": true,
			"preserveAllComments": true,
			"minify": {
				"compress": {
					"unused": true
				},
				"mangle": true
			}
		},
		"transform": null,
		"target": "es2016",
		"loose": true,
		"externalHelpers": true,
		// Requires v1.2.50 or upper and requires target to be es2016 or upper.
		"keepClassNames": false
	},
	"isModule": true
}
